{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>Modification d'ingrédient</h1>
        <h2 class="mb-5">Recette : {{ recipe.name }}</h2>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-success" />
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('ingredients-recipe_index', {'recipe_id': recipe.id}) }}"><i class="fas fa-list"></i> Liste des ingrédients</a>
            </li>
            <li>
                <a href="{{ path('ingredients-recipe_delete', { 'id': ingredientRecipe.id, 'recipe_id': recipe.id }) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </li>
        </ul>
    </section>

{% endblock %}
