{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-5">Ajout d'ingrédients à la recette : {{ recipe.name }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Enregistrer" class="btn btn-success" />
    {{ form_end(form) }}

    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('ingredients-recipe_index', {'recipe_id': recipe.id}) }}" class="btn btn-info"><i class="fas fa-list"></i> Retour à la liste des ingrédients</a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('ingredient_new') }}" class="btn btn-success" title="Ajouter un nouvel ingrédient"><i class="fas fa-plus"></i> Ajouter un nouvel ingrédient à la liste des ingrédients disponibles</a>
        </div>
    </div>
{% endblock %}
