{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ingrédients</h1>
    <h2>Recette : {{ recipe.name }}</h2>

    <table class="table table-striped table-responsive-sm mt-5">
        <tbody>
            <tr>
                <th>Ingrédient</th>
                <td>{{ ingredientRecipe.ingredient.type }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ ingredientRecipe.quantity }}</td>
            </tr>
            <tr>
                <th>Unité</th>
                <td>{{ ingredientRecipe.unity.unity }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-4">
            <a href="{{ path('ingredients-recipe_index', { 'recipe_id': recipe.id }) }}" class="btn btn-info"><i class="fas fa-list"></i> retour à la liste</a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('ingredients-recipe_edit', { 'id': ingredientRecipe.id, 'recipe_id': recipe.id }) }}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
        </div>
        <div class="col-md-4">
            <a href="{{ path('ingredients-recipe_delete', { 'id': ingredientRecipe.id, 'recipe_id': recipe.id }) }}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
        </div>
    </div>
{% endblock %}
