{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>Mise à jour de la recette</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" class="btn btn-success"/>
        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('recipe_index') }}"><i class="fas fa-list"></i> Retour à la liste</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </section>
{% endblock %}
