{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajout d'une recette</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.preparationTime) }}
        {{ form_row(form.cookTime) }}
        {{ form_row(form.serving) }}
        {{ form_row(form.difficultyLevel) }}
        {{ form_row(form.cost) }}
        {{ form_row(form.description) }}
        {{ form_row(form.bestSeller) }}

        {# store the prototype on the data-prototype attribute #}
        <div class="row" id="ingredient-fields-list"
            data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e }}"
            data-widget-tags="{{ '<div class="col-md-4"></div>'|e }}">
            {% for ingredientField in form.ingredients %}
                <div class="col-md-4">
                    {{ form_errors(ingredientField) }}
                    {{ form_widget(ingredientField) }}
                </div>
            {% endfor %}
        </div>

        <button type="button" class="add-another-collection-widget btn btn-info" data-list="#ingredient-fields-list">Ajouter un ingredient</button>

        <input type="submit" value="Enregistrer" class="btn btn-success" />
    {{ form_end(form) }}

    <script src="add-collection-widget.js"></script>

    <ul>
        <li>
            <a href="{{ path('recipe_index') }}"><i class="fas fa-list"></i> Retour à la liste</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/add-collection-widget.js') }}"></script>
{%  endblock %}