{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <h1>Recette : {{ recipe.name }}</h1>

        <table class="table table-striped table-responsive-sm">
            <tbody>
                <tr>
                    <th>Temps de préparation (min)</th>
                    <td>{{ recipe.preparationTime }}</td>
                </tr>
                <tr>
                    <th>Temps de cuisson (min)</th>
                    <td>{{ recipe.cookTime }}</td>
                </tr>
                <tr>
                    <th>Nombre de personnes</th>
                    <td>{{ recipe.serving }}</td>
                </tr>
                <tr>
                    <th>Difficulté</th>
                    <td>{{ recipe.difficultyLevel.level }}</td>
                </tr>
                <tr>
                    <th>Coût</th>
                    <td>{{ recipe.cost.cost }}</td>
                </tr>
                <tr>
                    <th>Ingrédients</th>
                    <td>
                        {% if recipe.ingredients %}
                            <ul>
                                {% for ingredient in recipe.ingredients %}
                                    <li>{{ ingredient.quantity }} {{ ingredient.unity.unity }} {{ ingredient.ingredient.type }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Aucun ingrédient précisé
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ recipe.description|raw }}</td>
                </tr>
            </tbody>
        </table>

        <div class="row text-right">
            <div class="col-md-2">
                <a href="{{ path('recipe_index') }}" class="btn btn-info" title="Liste des recettes"><i class="fas fa-list"></i></a>

            </div>
            <div class="col-md-2">
                <a href="{{ path('recipe_edit', { 'id': recipe.id }) }}" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a>
            </div>
            <div class="col-md-2">
                <a href="{{ path('ingredients-recipe_index', { 'recipe_id': recipe.id }) }}" class="btn btn-dark" title="Liste des ingrédients"><i class="far fa-lemon"></i></a>
            </div>
            <div class="col-md-2">
                <a href="{{ path('ingredients-recipe_new', { 'recipe_id': recipe.id }) }}" class="btn btn-dark" titre="Ajouter un ingrédient"><i class="fas fa-plus"></i> <i class="far fa-lemon"></i></a>
            </div>
            <div class="col-md-2">
                {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </section>
{% endblock %}
