{% extends 'base.html.twig' %}

{% block body %}
    <h1>Costs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cost in costs %}
            <tr>
                <td><a href="{{ path('cost_show', { 'id': cost.id }) }}">{{ cost.id }}</a></td>
                <td>{{ cost.cost }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cost_show', { 'id': cost.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cost_edit', { 'id': cost.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cost_new') }}">Create a new cost</a>
        </li>
    </ul>
{% endblock %}
