{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cost</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cost.id }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ cost.cost }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cost_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cost_edit', { 'id': cost.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
